.Heading{
  color: darkseagreen;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  text-shadow: 0cqh;
  margin: 50px;
  font-family: 'Josefin Sans', sans-serif;


}

.imagess{
  width: 200px;
  height: 0px;
  }